*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #00008bcb;
}
.wrapper{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    
}
.wrapper .loader{
    display: flex;
    justify-content: space-evenly;
   padding: 0 20px;
}
.loader .loding{
    width: 30px;
    height: 30px;
    border-radius: 50px; 
    background-color: #fff;
    margin: 0 10px;
    animation: loading 0.8s  ease  infinite;
}
.loader .loding.one{
    animation-delay: 0.3s;
}
.loader .loding.two{
    animation-delay: 0.4s;
}
.loader .loding.three{
    animation-delay: 0.5s;
}
.loader .loding.four{
    animation-delay: 0.6s;
}
.loader .loding.five{
    animation-delay: 0.7s;
}
@keyframes loading {
    0%{
       width: 30px;
       height: 30px;
}50%{
    height: 20px;
    width:20px;
}

}
